@import 'variables.scss';

.introduction {
  h1 {
    color: $text-01;

    span {
      background: $primary;
      color: white;
      padding: 0 2px;
    }
  }

  p {
    color: $text-02;
    margin-top: 12px;

    @media (min-width: $lg) {
      width: 730px;
    }
  }

  ul {
    margin-top: 18px;

    @media (min-width: $lg) {
      margin-top: 26px;
    }

    li {
      &:not(:first-of-type) {
        margin-top: 8px;

        @media (min-width: $lg) {
          margin-top: 16px;
        }
      }

      a {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}

.projects {
  margin-top: 50px;

  article {
    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}
